<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Solo funciona dentro de la CEBV: -->
        <add key="server_cebv" value="http://10.5.31.60:18080/" />
        
        <!-- Tanil: Esta es mi instancia EC2 de AWS. SOLO PARA PRUEBAS DE LA COMISION, NO PARA DESARROLLO. -->
        <add key="aws" value="http://3.136.22.104/" />
        
        <!-- Tanil: Instancia EC2 de AWS, SOLO PARA PRUEBAS, NO PARA DESARROLLO. -->
        <add key="aws" value="http://3.136.22.104/" />
        
        <add key="server_itsx" value="http://187.251.212.146:18080/"/>
        <add key="dev_uri" value="http://api_cebv.test/"/>
        <add key="localhost" value="http://localhost/"/>
        <add key="artisan_serve" value="http://localhost:8000/"/>
    </appSettings>
</configuration>